/* Global styling */

body {
  background-color: #C4AF88;
}

/* Top banner */
.header-banner {
  background-color: #730D1F;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
}

/*Title / logo styling*/
.header-title {
  font-family: "Jaro", sans-serif;
  font-size: 45px;
  white-space: nowrap;
  padding: 12px;
  color: #fff8e1;
  text-shadow: 0px 2px 4px rgb(102, 102, 102);
}

/*Remove styling from link*/
.header-title a {
  color: inherit;
  text-decoration: none;
}

/*Navigation elements layout styling*/
.header-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 3rem;
  color: #fff8e1;
}

/*Pointer effects for buttons*/
.header-nav__list i {
  cursor: pointer;
}

/*Remove styling from link on buttons*/
.header-nav__list a {
  color: #fff8e1;
  text-decoration: none;
}

/* This will remove default background on html button */
.header-button {
  font-size: 32px; /* adjust size of fontawesomeicons  */

  background: none;
  border: none;
  outline: none;

  padding: 0;

  width: 50px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
}

#shopping-cart {
  padding: 10px;
  margin: 20px;
}

#search-button {
  padding: 10px;
  margin: 20px;
}

/* Main */

.grid-12-column {
  display: grid;
  grid-template-columns: 12, 1fr;
  gap: 16px;
}

.img-responsive {
  width: 100%;
}

.xs-12 {
  grid-column: auto / span 12
}

@media (width >= 768px) {
  .sm-8 {
    grid-column: auto / span 8;
  }
}

@media (width >= 768px) {
  .sm-6 {
    grid-column: auto / span 6;
  }
}

@media (width >= 768px) {
  .sm-4 {
    grid-column: auto / span 4;
  }
}

@media (width >= 1080px) {
  .md-3 {
    grid-column: auto / span 3;
  }
}

.xs-hidden {
  display: none;
}

.banner-section {
}

.special-products {
}

.special-products__group {
}

.special-products__title {
}

.special-products__container {
}

/* Footer */

footer {
  background-color: white;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-left: 10%;
  margin-right: 10%;
  padding: 20px;
}

footer .section-divider {
  margin: 10px;
}

footer section {
  grid-column: span 3 / auto;
}

footer h3 {
  text-align: center;
  font-family: "Jaro", sans-serif;
  font-size: 16px;
  white-space: nowrap;

  padding: 10px;
}

footer li {
  padding: 10px;
}
